Flask~=1.0.2
Flask-Classy~=0.6.10
Flask-Negotiation~=0.1.9
flask-paginate~=0.5.1
Sphinx~=1.7.4
sphinx_rtd_theme~=0.3.1
sphinxcontrib-httpdomain~=1.6.1
celery~=4.1.0
pymongo~=3.6.1
python-magic~=0.4.15
requests~=2.18.4
Flask-Login==0.3.2
zxcvbn==1.0
GitPython~=2.1.9
markdown2~=2.3.5
git+https://github.com/g2p/rfc6266#egg=rfc6266
python-ldap~=3.2.0
