Flask==2.2.5
Werkzeug==3.0.6
Flask-Classful==0.16.0
flask-paginate~=0.7.0
Sphinx~=7.2.6
sphinx_rtd_theme~=2.0.0
sphinxcontrib-httpdomain>=1.8.1
celery~=5.5.3
pymongo~=4.6.3
python-magic~=0.4.18
requests>=2.31.0
Flask-Login~=0.6.2
zxcvbn==4.4.28
GitPython~=3.1.7
markdown2~=2.4.3
jinja2>=3.1.3
virtualenv~=20.30.0
gunicorn>=21.2.0
jsonpath-ng>=1.6.0
ldap3>=2.9.1
josepy>=1.14.0
setuptools>=80.9.0
portalocker>=3.2.0
