Flask==2.2.5
Werkzeug==2.2.3
#Flask-Classful~=0.14.2
# Flask-Classful is not yet compatible with werkzeug-2.2
git+https://github.com/superseed/flask-classful.git@werkzeug-2.2
flask-paginate~=0.7.0
Sphinx~=3.2.1
sphinx_rtd_theme~=0.5.0
sphinxcontrib-httpdomain~=1.7.0
celery~=5.2.7
pymongo~=3.11.0
python-magic~=0.4.18
requests>=2.31.0
Flask-Login~=0.6.2
zxcvbn==4.4.28
GitPython~=3.1.7
markdown2~=2.4.3
jinja2~=3.0.3
virtualenv~=20.13.2
