# Mapping for which claim will be used by FAME for retrieving user details (email, name, etc)
# The claims are retrievd from the /oauth2/userinfo endpoint, as well as from JWT access_token and id_token
USER_CLAIM_MAPPING = {
  "email": "",
  "name": "",
  "role": "",
}
# Mapping for which claim will be used by FAME for retrieving API account details (email, name, etc) from the content of a provided access_token
API_CLAIM_MAPPING = {
  "email": "",
  "name": "",
  "role": "",
}

# Map wihch group/permission each user will have
# Depending on its role(s)
ROLE_MAPPING = {
    "ROLE_1": {
        "permissions": [
            "submit_iocs",
            "configs",
            "cuckoo_access",
        ],
    },
    "ROLE_2": {
        "permissions": [
            "see_logs",
        ],
        "default_sharing": [
            "cert",
            "users"
        ],
        "groups": [
            "cert",
            "*",
        ],
    }
}
