
MONGODB_HOST=fame_db
MONGODB_PORT=27017
MONGO_INITDB_DATABASE=fame
MONGODB_USERNAME=user
MONGODB_PASSWORD=pass

FAME_URL=http://fame_web:4200

# FAME_GIT_SSH_KEY=  #Enter here the result of: awk '{printf "%s\\n", $0}' myprivatekey.key
