
MONGODB_HOST=fame_db
MONGODB_PORT=27017
MONGO_INITDB_DATABASE=fame
MONGODB_USERNAME=user
MONGODB_PASSWORD=pass

DEFAULT_EMAIL=admin@changeme.fame
DEFAULT_PASSWORD=changeme

FAME_URL=http://fame_web:4200
