<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Analyses</h4>
                <p class="category">Most recent first</p>
            </div>
            <div class="content">
                <div class="table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Date</th>
                                <th>Status</th>
                                <th>Object</th>
                                <th>Target</th>
                                <th>Probable Names</th>
                                <th>Extractions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for analysis in data['analyses'] %}
                                <tr>
                                    <td class="list-avatar avatar">
                                        {% if analysis.analyst %}
                                            <img class="img-circle" src="{{analysis.analyst._id|avatar}}" data-toggle="tooltip" data-placement="top" title="{{analysis.analyst.name}}" />
                                        {% endif %}
                                    </td>
                                    <td><a href="{{ url_for('AnalysesView:get', id=analysis._id) }}">{{analysis.date|date}}</a></td>
                                    <td>{{analysis.status}}</td>
                                    <td>
                                        <div><a href="{{ url_for('AnalysesView:get', id=analysis._id) }}">{{analysis.file.md5}}</a></div>
                                        <div class="small">{{analysis.file.names|join(', ')}}</div>
                                    </td>
                                    <td>{{analysis.module if analysis.module != None}}</td>
                                    <td>{{analysis.file.probable_names|join(', ')}}</td>
                                    <td>{{analysis.extractions|join(', ', attribute='label')}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('[data-toggle="tooltip"]').tooltip();
</script>
