{% extends "base_unauthenticated.html" %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <form method="post">

        <div class="card">
            <div class="content">
                <div class="form-group">
                    <label>New Password</label>
                    <input type="password" name="password" placeholder="Password" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Confirm</label>
                    <input type="password" name="password_confirmation" placeholder="Password Confirmation" class="form-control" required>
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-warning btn-wd">Submit</button>
            </div>
        </div>

    </form>
{% endblock %}
