{% extends "base_unauthenticated.html" %}

{% block title %}Password Reset{% endblock %}

{% block body %}
    <form method="post">

        <div class="card">
            <div class="content">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="email" name="email" placeholder="Email Address" class="form-control" required>
                </div>
            </div>
            <div class="footer text-center">
                <button type="submit" class="btn btn-fill btn-warning btn-wd">Send password reset link</button>
            </div>
        </div>

    </form>
{% endblock %}
