---
layout: default
disqus: false
class: 'post-template'
---
<!-- < default -->

<!-- The comment above "< default" means - insert everything in this file into -->
    <!-- the [body] of the default.hbs template, which contains our header/footer. -->

<!-- Everything inside the #post tags pulls data from the post -->
<!-- #post -->

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="{{site.name}}" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
        <div class="inner">
          <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
            </header>
        </div>
    </nav>
</header>

{% include menu.html %}

<main class="content" role="main">

    <article class="{{ page.subclass }}">

        <section class="post-meta">
        <time class="post-date" datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date_to_string }}</time>
            <!-- [[tags prefix=" on "]] -->
            {% if page.tags.size > 0 %}
            posted in
            {% for tag in page.tags %}
                {% if forloop.index == page.tags.size %}
                   {{ tag | capitalize }}
                {% else %}
                   {{ tag | capitalize }},
                {% endif %}
            {% endfor %}
            {% endif %}
        </section>

        <section class="post-content">

            {{ content }}

        </section>

        <footer class="post-footer">

            {% assign author = site.authors[page.author] %}
            <!-- Everything inside the #author tags pulls data from the author -->
            <!-- #author-->

            {% if author.image %}
            <figure class="author-image">
                <img class="img" src="{{author.image}}" />
            </figure>
            {% endif %}

            <section class="author">
                <h4>{{ author.name }}</h4>

                {% if author.bio %}
                    <p> {{ author.bio }}</p>
                {% endif %}
                <div class="author-meta">
                    {% if author.location %}<span class="author-location icon-location"> {{ author.location }}</span>{% endif %}
                    {% if author.twitter %}<span class="author-link icon-twitter"><a href="https://twitter.com/{{author.twitter}}"> @{{author.twitter}}</a></span>{% endif %}
                    {% if author.url %}<span class="author-link icon-link"><a href="{{ author.url }}"> {{ author.url }}</a></span>{% endif %}
                </div>
            </section>

            <!-- /author  -->

            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url | remove: '/' }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | remove: '/' }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>

</main>

<aside class="read-next">

    <!-- [[! next_post ]] -->{{ post.url | remove: '/' }}
    {% if page.next %}
        <a class="read-next-story {% if page.next.cover %}" style="background-image: url({{ site.baseurl }}{{ page.next.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.next.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.next.title }}</h2>
                <p>{{ page.next.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /next_post ]] -->
    <!-- [[! prev_post ]] -->
    {% if page.previous %}
        <a class="read-next-story prev {% if page.previous.cover %}" style="background-image: url({{ site.baseurl }}{{ page.previous.cover }}){% else %}no-cover{% endif %}" href="{{ site.baseurl }}{{ page.previous.url | remove: '/' }}">
            <section class="post">
                <h2>{{ page.previous.title }}</h2>
                <p>{{ page.previous.content | strip_html | truncatewords:15 }}</p>
            </section>
        </a>
    {% endif %}
    <!-- [[! /prev_post ]] -->
</aside>

<!-- /post -->
